*{
    background-color: rgb(26, 25, 25);
    color: var(--secundary-color);
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}

h1{
    color: var(--main-color);
}

:root{
    --main-color: #ffe4c4;
    --secundary-color: rgb(210, 171, 249);
    --border: #fff;
}

input{
    border: 1px solid var(--secundary-color);
    border-radius: 5px;
}

textarea {
    width: 250px; /* Defina a largura desejada */
    height: 60px; /* Defina a altura desejada */
    border: 1px solid var(--secundary-color);
    border-radius: 5px;
}